SPEEDSEQ_HOME=<%= @speedseq_home %>

# general
SAMBAMBA=<%= @speedseq_home %>/bin/sambamba
BGZIP=<%= @speedseq_home %>/bin/bgzip
TABIX=<%= @speedseq_home %>/bin/tabix
VAWK=<%= @speedseq_home %>/bin/vawk
PARALLEL=<%= @speedseq_home %>/bin/parallel
PYTHON=/usr/bin/python2.7

# align
BWA=<%= @speedseq_home %>/bin/bwa
SAMBLASTER=<%= @speedseq_home %>/bin/samblaster

# var/somatic
FREEBAYES=<%= @speedseq_home %>/bin/freebayes
VEP=<%= @vep_dir %>/variant_effect_predictor.pl
VEP_CACHE_DIR=<%= @speedseq_home %>/annotations/vep_cache

# sv
LUMPY=<%= @speedseq_home %>/bin/lumpy
LUMPYEXPRESS=<%= @speedseq_home %>/bin/lumpyexpress
PAIREND_DISTRO=<%= @speedseq_home %>/bin/pairend_distro.py
SVTYPER=<%= @speedseq_home %>/bin/svtyper
BAMGROUPREADS=<%= @speedseq_home %>/bin/bamgroupreads.py
BAMFILTERRG=<%= @speedseq_home %>/bin/bamfilterrg.py
BAMLIBS=<%= @speedseq_home %>/bin/bamlibs.py

# CNVnator
CNVNATOR_WRAPPER=<%= @speedseq_home %>/bin/cnvnator_wrapper.py
CNVNATOR_MULTI=<%= @speedseq_home %>/bin/cnvnator-multi
ANNOTATE_RD=<%= @speedseq_home %>/bin/annotate_rd.py
CNVNATOR_CHROMS_DIR=<%= @speedseq_home %>/annotations/cnvnator_chroms

# realign
BAMTOFASTQ=<%= @speedseq_home %>/bin/bamtofastq.py
MBUFFER=<%= @speedseq_home %>/bin/mbuffer
BAMHEADRG=<%= @speedseq_home %>/bin/bamheadrg.py
BAMCLEANHEADER=<%= @speedseq_home %>/bin/bamcleanheader.py
